// colors
$text: #CACACA
$heading: #FFFFFF
$card: #232325
$background: #161617
$primaryAccent: #50DBFA
$secondaryAccent: #465FFF
$outline: #707070
$lightOutline: #3C3C3C

// fonts
$font-family: 'Inter', sans-serif
