// colors
$text: #CACACA
$heading: #FFFFFF
$card: #232325
$card-hover: #3C3C3C
$background: #161617
$primaryAccent: #50DBFA
$secondaryAccent: #465FFF
$outline-color: #707070
$lightOutline-color: #3C3C3C

// fonts
$font-family: 'Inter', sans-serif
$text-size: 14px
$heading-size: 28px
$subheading-size: 20px
$title-size: 32px
$subtitle-size: 24px

// layouts
$outline: 1px solid $outline-color
$outlineLight: 1px solid $lightOutline-color