@import './_variables.sass'

button
    background-color: $primaryAccent
    color: $background
    padding: 12px 24px
    outline: none
    border: none
    font-weight: 600
    cursor: pointer

form
    display: flex