@import './_variables.sass'

button
    background-color: $primaryAccent
    color: $background
    padding: 12px 24px
    outline: none
    border: none
    font-weight: 600
    cursor: pointer

form
    display: flex

select
    background-color: $card
    color: $text
    padding: 8px 8px
    outline: $outline
    font-weight: 400
    cursor: pointer
    font-size: $text-size

.collapsable-button
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: $card
    padding: 8px 8px
    border: $outline
    color: $heading
    :hover
        background-color: $card-hover
