@import './_variables.sass'

::root 
    --primary-accent: $primaryAccent
    --secondary-accent: $secondaryAccent
    --outline: $outline
    --light-outline: $lightOutline
    --text: $text
    --heading: $heading
    --card: $card
    --background: $background

::-webkit-scrollbar 
    display: none

* 
    font-family: $font-family
    color: $text
    margin: 0  
    padding: 0
    -webkit-tap-highlight-color: transparent 
    cursor: default 
    outline: none 
    scrollbar-width: none 
    box-sizing: border-box 
    vertical-align: middle 
    font-weight: normal 
    text-rendering: optimizeLegibility 
    -webkit-font-smoothing: antialiased 
    -moz-osx-font-smoothing: grayscale 
    line-height: 1.25

body, html
    margin: 0
    padding: 0
    background-color: $background

[class*="container"], 
[class*="wrapper"],
[class*="content"],
.header,
.collapsible,
.App
    background: none

// font styling

@mixin title
    font-size: $title-size
    font-weight: 400
    color: $heading

.title
    @include title

@mixin subheading
    font-size: $subheading-size
    font-weight: 400
    color: $heading

.subheading
    @include subheading

@mixin subtext
    font-size: $subtext-size
    font-weight: 500
    color: $text

.subtext
    @include subtext

p
    font-size: $text-size
    font-weight: 400
    color: $text
    background: none
    line-height: 1.5

i
    background: none

.divider
    background-color: $lightOutline-color
    height: 1px
    width: 100%
