@import "./_variables.sass"
@import "./global.sass"

.header
    display: flex
    justify-content: space-between
    width: 100%
    align-items: center
    background-color: $background
    font-size: $text-size
    border-bottom: $outlineLight
    @include subheading
    .subheading
        padding: 8px

@mixin row
    display: flex
    flex-direction: row
    gap: 8px
    height: 100%
    width: -webkit-fill-available
    align-items: center
    &.card-heading
        i
            font-size: 14px
        .subtext
            font-size: 14px
            color: $heading


.row
    @include row

@mixin column
    display: flex
    flex-direction: column
    gap: 8px
    height: 100%
    width: -webkit-fill-available

.column
    @include column

.container
    display: flex
    flex-direction: column
    background-color: $background
    height: 100%
    width: 100%
    padding: 12px
    gap: 12px
    overflow: auto
    @include subheading
    &.row
        gap: 0px
    &.column
        @include column
    &.chat
        overflow-y: scroll
        height: 100%
        padding: 0 12px 0 12px
        justify-content: space-between
        gap: 18px
        min-height: 61vh
        .message-container
            overflow-y: scroll
            height: 100%
            padding: 8px
            gap: 12px
            display: flex
            flex-direction: column
    &.main-content
        width: 100%
        display: flex
        flex-direction: column
        gap: 12px
        height: 100%
        position: relative
        top: 0
    &.databox
        display: flex
        @include column
        gap: 12px
        height: fit-content
        width: -webkit-fill-available
        border: $outline
        background-color: $card
        padding: 8px
        .databox-items-wrapper
            display: flex
            flex-direction: row
            gap: 12px
            .databox-item
                @include column
                align-content: flex-start
                gap: 2px
                padding: 12px
                border: $outline
                background-color: $card
                .subheading
                    @include subheading
                    color: $text
                .number
                    font-size: 34px
                    font-weight: 400
                    color: $heading
    &.timeseries
        width: 100%
        height: fit-content
        display: flex
        flex-direction: column
        justify-content: center
        padding: 12px
        border: $outline
        background-color: $card
        align-items: center
        canvas
            width: -webkit-fill-available
            color: $heading
            .chart
                height: 100%
                width: 100%
                color: $heading

.main-content-wrapper
    width: -webkit-fill-available
    height: 100vh
    overflow-y: scroll
    display: flex
    flex-direction: column
    margin-left: 112.266px

    .header
        position: sticky
        top: 0
        z-index: 90
